*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-right {
    gap: 20px;
}

.sec-left {
    height: 560px;
    align-self: flex-end;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
    background: #000000;
    color: #fff;
    width: 300px;
    text-transform: uppercase;
}

.btn:hover {
    background: #fff;
    color: #000000;
    font-size: 1.05rem;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
}


.rgb-btn.active,
.darkening-btn.active,
.default-btn.active,
.eraser.active {
    background: #c230c7;
    color: #000000;
    border: 1px solid #000000;
}

.default-btn, .eraser {
    margin-bottom: 50px;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    flex-wrap: wrap;
    border: 1px solid black;
}

.grid-elem {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(87, 87, 92, 0.3);
}

.grid-elem-inner {
    height: 100%;
    width: 100%;
}